.header{
    position: fixed;
    height: 85px;
    background-color: black;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    z-index: 1000;
}

@media (max-width: 750px) {
    .header{
        max-width: 750px;
    }
}

.left-section{
    flex: 1;
}

.template{
    margin-left: 30px;
    height: 85px;
    cursor: pointer;
}

.right-section{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: left;
}

.head-topics{
    color: rgb(230, 175, 46);
    font-family: Roboto,Arial;
    font-size: 20px;
    font-weight: 790;
    margin-right: 1rem;
    cursor: pointer;
}

.blue{
    height: 50px;
    width: 175px;
    border-radius: 50px;
    color: white;
    background-color: rgb(49, 49, 148);
    font-family: Roboto,Arial;
    font-size: 20px;
    font-weight: 790;
    margin-left: 20px;
    border-color: white;
    border-style: solid;
    cursor: pointer;
}

.gold{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 175px;
    border-radius: 50px;
    color: black;
    background-color: rgb(230, 175, 46);
    font-family: Roboto,Arial;
    font-size: 20px;
    font-weight: 790;
    border: none;
    margin-left: 15px;
    cursor: pointer;
}

.download-svg{
    padding-top: 5px;
    margin-right: 5px;
}